.image {
    max-width: 100%;
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 9px;
  border-radius: em;
  }

.img{
    position: absolute;
    z-index: 10;
    padding-left: 100px;
    border-radius: 50%;
    }

    h2{
        color:red;
        font-size:15px;
        padding-top: 100px;
        text-align:center;
        
      }

      h1 {
        padding-top: 50px;
      }

      h3{
        padding-left: 10px; 
        font-size:20px;
      }