.image {
    max-width: 100%;
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 9px;
  text-align:right;
  }

.img{
    position: absolute;
    z-index: 10;
    padding-left: 100px;
    border-radius: 50%;
    }

    h2{
        color:red;
        font-size:15px;
        padding-top: 100px;
        text-align:center;
        
      }

      h1 {
        padding-bottom: 30px;
        padding-right: 30px;
      }

      h3{
        padding-left: 50px; 
        font-size:15px;
        text-align:right;
      }
      h4{
        text-align:right;
      }